---
title: Aktualności
id: aktualnosci
group: "navigation"
accesskey: 2
---
{% include header.html %}
<body>
    <div id="container">
        <div id="menu">
            {%  include menu.html %} 
        </div>   
        <div id="content" class="LBRS">    
            <div id="left-side">
                <div id="text">
                    {% capture aktualnosci_text %}{% include aktualnosci.md %}{% endcapture %}
                    {{ aktualnosci_text | markdownify }}
                </div>
            </div>
            <div id="right-side">
                <ul class="pictures">
                    <li>
                        <img src="/img/news/01.png" alt="" />
                    </li>
                    <li>
                        <img src="/img/news/02.png" alt="" />
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <img src="/img/news/03.png" alt="" />
                    </li>
                    <li>
                        <img src="/img/news/04.png" alt="" />
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <img src="/img/news/05.png" alt="" />
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <img src="/img/news/06.png" alt="" />
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <img src="/img/news/07.png" alt="" />
                    </li>
                </ul>
            </div>    
        </div>    
        <div id="footer">
            {% include footer.html %}    
        </div>
    </div>    
</body>
</html>