---
title: Ars Cantata
id: strona-glowna
group: "frontpage"
display-navigation-group: "navigation"
---
{% include header.html %}
<body class="home">
    <div id="container">            
        <div id="menu">
            {%  include menu.html %}
        </div>
        <div id="content">
            <p><a class="enter" href="aktualnosci.hml" title="Wejście">Ars Cantata</a></p>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
</body>
</html>
