---
title: Kontakt
id: kontakt
group: "navigation"
accesskey: 7
---
{% include header.html %}
<body>  
    <div id="container">
        <div id="menu">
            {%  include menu.html %}
        </div>
        <div id="content" class="NCCN">
            <div id="center-side" class="contact">
                <div class="inner">
                    {% capture kontakt %}{% include kontakt.md %}{% endcapture %}
                    {{ kontakt | markdownify }}
                </div>
            </div>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
</body>
</html>