---
title: O Chórze
id: o-chorze
group: "navigation"
accesskey: 1
---
{% include header.html %}
<body>
    <div id="container">   
        <div id="menu">
            <div id="menu">
                {%  include menu.html %}
            </div>                
        </div>
        <div id="content" class="LBRS">
            <div id="left-side">
                <div id="photo"></div>
                <div id="text">
                    {% capture o_chorze %}{% include o-chorze.md %}{% endcapture %} 
                    <span style="font-size: 12px; font-family: arial, verdana, sans-serif; line-height: 15px;">
                        {{ o_chorze | markdownify }}
                    </span>
                </div>
            </div>
            <div id="right-side">
                <ul class="pictures gallery">
                    <li><img src="/img/about/01.jpg" alt="" /></li>
                    <li><span>...</span></li>
                    <li><img src="/img/about/02.jpg" alt="" /></li>
                    <li><span>...</span></li>
                    <li><img src="/img/about/03.jpg" alt="" /></li>
                    <li><img src="/img/about/04.jpg" alt="" /></li>
                    <li><img src="/img/about/05.jpg" alt="" /></li>
                    <li><span>...</span></li>
                    <li><img src="/img/about/06.jpg" alt="" /></li>
                    <li><span>...</span></li>
                    <li><img src="/img/about/07.jpg" alt="" /></li>
                    <li><span>...</span></li>
                </ul>
            </div>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
</body>
</html>