---
title: Osiągnięcia
id: osiagniecia
group: "navigation"
accesskey: 3
---
{% include header.html %}
<body>
    <div id="container">
        <div id="menu">
            {%  include menu.html %}
        </div>
        <div id="content" class="LBRS">
            <div id="left-side">
                <div id="photo"></div>
                <div id="text">
                TODO: treść
                    <ul class="pagination">
                    </ul>
                </div>
            </div>
            <div id="right-side">
                <ul class="pictures gallery">
                    <li>
                        <img src="/img/attainments/01.jpg" alt="" />
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <img src="/img/attainments/02.jpg" alt="" />
                    </li>
                    <li>
                        <img src="/attainments/03.jpg" alt="" />
                    </li>
                    <li>
                        <img src="/img/attainments/04.jpg" alt="" />
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <img src="/img/attainments/05.jpg" alt="" />
                    </li>
                    <li>
                        <img src="/img/attainments/06.jpg" alt="" />
                    </li>
                    <li>
                        <img src="/img/attainments/07.jpg" alt="" />
                    </li>
                    <li>
                        <span>...</span>
                    </li>
                    <li>
                        <img src="/img/attainments/08.jpg" alt="" />
                    </li>
                </ul>              
            </div>
        </div>
        <div id="footer">
            {% include footer.html %}
        </div>
    </div>
</body>
</html>