#container #menu {
	width: 970px;
	height: 92px;
    margin-left: 51px;
	overflow: hidden;
}
#container #menu ul {
	width: 100%;
	height: 100%;
}
#container #menu ul li {
	float: left;
}
#container #menu ul li a {
	display: block;
	height: 92px;
	text-indent: -666em;
}
#container #footer ul.submenu {
	width: 308px;
	height: 40px;
	margin: 0 auto 0 auto;
}
#container #footer ul.submenu li {
	float: left;
	zoom: 1;
}
#container #footer ul.submenu li a {
	display: block;
	height: 40px;
	width: 100px;
	text-indent: -666em;
}
