{% if page.subgroup == "ludzie" %}
    <ul class="submenu">
      {% assign pages_list = site.pages %}
      {% assign subgroup = 'ludzie' %}
      {% include navigation/ludzie_list_inc.html %}
    </ul>
{% endif %}
<h1>
    <a href="{{page.url}}" title="ars cantata">ars cantata</a>
</h1>
<div id="partners">
   {% if page.language == 'pl' %}
       <p>wsparcie:</p>
   {% else %}
       <p>support:</p>
   {% endif %}
    <ul>
        <li>
            <a href="http://kik.waw.pl/" title="Klub Inteligencji Katolickiej">
                <img src="/img/partners/kik.png" alt="Klub Inteligencji Katolickiej" />
            </a>
        </li>
        <li>
            <a href="http://www.mkidn.gov.pl" title="Ministerstwo Kultury i Dzedzictwa Nardowego">
                <img src="/img/partners/mk.png" alt="Ministerstwo Kultury i Dzedzictwa Nardowego" />
            </a>
        </li>
        <li>
            <a href="http://collegium.edu.pl/root_pl" title="Collegium Civitas">
                <img src="/img/partners/cc.png" alt="Collegium Civitas" />
            </a>
        </li>
    </ul>
</div>

<div id ="face">
     <div id="fb-root"></div>
            <script>
                (function(d){
                    var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
                    js = d.createElement('script'); js.id = id; js.async = true;
                    js.src = "//connect.facebook.net/en_US/all.js#appId=131376503627368&xfbml=1";
                    d.getElementsByTagName('head')[0].appendChild(js);
                 }(document));
            </script>
        <div class="fb-like" data-href="http://facebook.com/ArsCantata" data-send="true" 
                data-width="450" data-show-faces="false" data-colorscheme="dark" data-font="verdana">
     </div>
</div>
<div id="signatures">
    {% if page.language == 'pl' %}
       <p>projekt i realizacja: Ars Cantata&reg;</p>
    {% else %}
       <p>project and realisation: Ars Cantata&reg;</p>
    {% endif %}
</div>
<div id="development">
    {% capture wersja_deweloperska %}{% include base/development.md %}{% endcapture %}
    {{ wersja_deweloperska | markdownify }}
</div>
