<div id="right-side">
    <p>
	Najbardziej aktualne informacje znajdziesz na naszym <a href="https://www.facebook.com/ArsCantata">Facebooku</a>
	</p>
	
    <ul class="pictures">
        <li>
            <img src="/img/news/01.png" alt="" />
        </li>
        <li>
            <img src="/img/news/02.png" alt="" />
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <img src="/img/news/03.png" alt="" />
        </li>
        <li>
            <img src="/img/news/04.png" alt="" />
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <img src="/img/news/05.png" alt="" />
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <img src="/img/news/06.png" alt="" />
        </li>
        <li>
            <span>...</span>
        </li>
        <li>
            <img src="/img/news/07.png" alt="" />
        </li>
    </ul>
</div>
