{% include base/header_inc.html %}
<body class="home">
    <div id="container">            
        <div id="menu">
            {%  include navigation/menu_inc.html %}
        </div>
        <div id="content">
            <p><a class="enter" href="aktualnosci.html" title="Wejście/Enter">Ars Cantata</a></p>
        </div>
        <div id="footer" style="background: url(/img/{{ page.language }}/footer-home.png) 0 0 no-repeat;">
            {% include base/footer_index_inc.html %}
        </div>
    </div>
</body>
</html>
