<div id="content" class="LLRS">
	<div id="left-side">
		<ul class="image-descriptions">
			<li>
				<dl>
					<dt>
						<img src="/img/covers/ars-cantata.png" alt="Ars Cantata" />
					</dt>
					<dd>
						<div class="playlist">
							<a href="/mp3/miserere.mp3">A. Lotti - Miserere (2003)</a>
							<a href="/mp3/bohorodice_djevo.mp3">S.Rachmaninow  -Bohorodice djevo (2003)</a>
							<a href="/mp3/zdrowas_krolewno_wyborna.mp3">A.Koszewski - Zdrowas królewno wyborna (2003)</a>
							<a href="/mp3/parce_barczewo.mp3">F.Nowowiejski Parce Domine (2005)</a>
							<a href="/mp3/quand_mo_mari-o._di_lasso.mp3">O.di Lasso - Quand mon Mari (2003)</a>
							<a href="/mp3/dyptyk.mp3">M.Sawa - Dyptyk wiejski (2005)</a>
							<a href="/mp3/posmotri.mp3">S.Taniejew – Posmotri kakaja mgła (2008)</a>
						</div>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt><img src="/img/covers/musica-sacra.png" alt="Musica Sacra" /></dt>
					<dd>
						<div class="playlist"></div>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>
